@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(180deg, #F0E8FF 0%, #FFFFFF 100%);
  font-family: 'Inter', sans-serif;
}
